{% extends 'base.html.twig' %}

{% block title %}
    <title>{{ book.title }}</title>
{% endblock %}

{% block main %}

    {% if book %}

                <h1>{{ book.title }}</h1>
                <p>{{ book.nbPages }}</p>
                <p>{{ book.author }}</p>
                <p>Publié le {{ book.publishedAt | date('d-m-y') }}</p>

        {% endif %}

{% endblock %}