{% extends 'front/base.html.twig' %}

{% block title %}
    <title>{{ author.title }}</title>
{% endblock %}

{% block main %}

    {% if author %}

        <h1>{{ author.firstName }}</h1>
        <p>{{ author.lastName }}</p>
        <p>{{ author.birthDate ? author.birthDate|date('Y-m-d'): '' }}</p>
        <p>{{ author.deathDate ? author.deathDate|date('Y-m-d'): '' }}</p>
        {% for book in author.books %}
            <p>{{ book.title }}</p>
        {% endfor %}

    {% endif %}

{% endblock %}